{% extends 'users/base.html' %} {% block content %}
<header class="header">
  <h1 class="brand">E-Learn</h1>
  <nav>
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Courses</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>
  <div class="search-form">
    <form method="get" action="{% url 'searchcourse' %}">
      <input type="text" name="q" placeholder="Search courses" />
      <button type="submit">Search</button>
    </form>
  </div>
</header>
<body>
  <h1>{{ object.title }}</h1>
  <h3>By {{object.owner.user.username }}</h3>
  <h3>Price: {{ object.fees }}</h3>
  <h3>Duration: {{ object.timeline }}</h3>
  <p>{{ object.description }}</p>
  <button><a href="{% url 'course-enroll' object.pk %}">Enroll</a></button>
</body>
{% endblock content %}
